.footer__author{
  color: rgba(84, 84, 84, 1);
  font-size: 18px;
  line-height: 22px;
  margin-top: 70px;
}

@media all and (max-width: 320px) {
  .footer__author{
    margin-left: 19px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 50px;
  }
}
