.popup__submit{
  width: 82%;
  height: 50px;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 0;
  transition: .6s;
}

@media all and (max-width: 400px) {
  .popup__submit{
    width: 100%;
  }
}
