.profile__button{
  width: 149px;
  height: 49px;
  border:  2px solid #fff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  transition: .6s;
  background: url(../../../images/Vector2.svg) no-repeat center #000;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}
.profile__button:hover{
  cursor: pointer;
  opacity: 0.25;
}

@media all and (max-width: 731px) {
  .profile__button{
    margin: 35px auto 0 auto;
    width: 87%;
  }
}
