.profile__button{
  width: 147px;
  height: 45px;
  border:  1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  transition: .6s;
  margin-right: 43px;
}

@media all and (max-width: 731px) {
  .profile__button{
    margin-top: 35px;
    width: 87%;
  }
}
